<div class="container-fluid text-center">
    <h1 class="col-md-12 pgTitle">Welcome to the <br/><span>Weather</span> App</h1>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form id="searchForm" style="padding-top: 1rem;">
                <input type="text" id="cityInput" placeholder="Enter your city..." autofocus>
                <button class="btn searchBtn">
                    <i class="fa-solid fa-magnifying-glass" style="font-size: 14px;"></i>
                </button>
            </form>
        </div>
    </div>
</div>