<div class="container-fluid text-center pb-5">
    <div class="row justify-content-center">
        <h1 class="col-md-12 pgTitle">Welcome to the <br/><span>Weather</span> App</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="searchForm" style="padding-top: 1rem;">
                <input type="text" id="cityInput" placeholder="Enter your city..." autofocus>
                <button class="btn searchBtn">
                    <i class="fa-solid fa-magnifying-glass" style="font-size: 14px;"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid text-center infoBox">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <i class="fa-solid fa-cloud-sun-rain" style="color: #ffffff; font-size: 96px;"></i>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>Orlando, FL</h1>
            <h3>Monday 3 July 2023</h3>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <p>74&deg F | 23&deg C</p>
            <p>Wind: 4.1 mph | 6.6 kph</p>
            <p>Humidity: 56%</p>
        </div>
    </div>
</div>