<div class="container-fluid text-center pb-5">
    <div class="row">
        <h1 class="col-md-12 pgTitle">Welcome to the <br/><span>Weather</span> App</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="search" style="padding-top: 1rem;">
                <input type="text" id="cityInput" class="text-start" placeholder="Enter Location">
                <button id="searchBtn" class="btn searchBtn">
                    <i class="fa-solid fa-magnifying-glass" style="font-size: 14px;"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid text-center infoBox">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <i id="weatherIcon" class="fa-solid fa-cloud-sun-rain" style="color: #ffffff; font-size: 96px;"></i>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1 id="city">Orlando, FL</h1>
            <h3>@DateTime.Now.DayOfWeek @DateTime.Now.Day @ViewData["Month"] @DateTime.Now.Year</h3>
        </div>
    </div><br/>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <p id="temp">Temperature: 83&degF</p>
            <p id="windSpeed">Wind Speed: 7 mph</p>
            <p id="pressure">Pressure: 1012 hpa</p>
            <p id="humidity">Humidity: 78%</p>
        </div>
    </div>
</div>